<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Gigi and Cheeka lived together their person.  Her name was Noreen and she loved them both very much.</p>
  <img src="../../assets/images/RaRa.jpg" alt="image">
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to Table of Content</ion-button><br>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Go Back Chapter 1</ion-button><br>
  <ion-button color="danger" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go Back to Chapter 2</ion-button>
 </ion-content>

 <div id="content">
  <div id="pageFooter">Page </div>
</div>