<ion-header>
  <ion-toolbar>
    <ion-title>Table of Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" expand="full"  [routerDirection]="'root'" [routerLink]="['/home']">Return to Cover Page</ion-button><br>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Chapter 1: The Cat</ion-button><br>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Chapter 2: The Dog</ion-button><br>
  <ion-button color="danger" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Chapter 3: Their Person</ion-button>
</ion-content>

<div id="content">
  <div id="pageFooter">Page </div>
</div>


